* Colors and fonts */

body {
	background-color: rgb(230, 230, 230);
	color: rgb(50, 50, 50);
	font-family: Helvetica;
	font-size: 16px;
}
	

h1 {
	color: red;
	font-family: Courier;
	font-size: 32px;
}

h2 {
	color: rgb(100, 100, 100);
	font-family: 'Big Shoulders Stencil Display', cursive;
	font-size: 24px;
	font-weight: lighter; 
}

a {
	text-decoration: none;
	color: red;
}
a:hover {
	color: green;
}

/* Custom design with clss */

.container {
	width: 700px;
	margin: 40px auto;
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 0px 10px darkgrey;
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50px;
  width:500px;
}

.btn-green {
	background-color: rgb(60, 179, 113);
	color: white;
	padding: 15px 40px;
	border-radius: 4px;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}


